.Auth-Container{
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%, -50%);
  background-color: var(--pureWhite);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding:2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap:2rem;
}

h1{
  color:var(--blue);
  text-align: center;
}

.Auth-Container form{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.Auth-Container form div{
  display: flex;
  /* justify-content: space-evenly; */
  gap:1rem;
  width:6rem;
}

.Auth-Container input {
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--black);
  padding: 10px;
  background-color: #f3f3f3;
  width: 23rem;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Added transition for smoother effect */
}

.Auth-Container input:focus {
  border-color: var(--blue); 
  box-shadow: 0 0 5px var(--blue);
}


.Auth-Container span{
  font-size: 14px;
}

.Auth-Container button{
  align-self: center;
  width:24.5rem;
  padding: 10px;
  background-color: var(--blue);
  border: 2px solid var(--blue);
  color: var(--pureWhite);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.1s;
}

.Auth-Container button:nth-of-type(2){
  background-color: red;
  border: 2px solid red;
}